{% extends 'info/index.html' %}

{% load static %}

{% block main %}
<section class="grey page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h1>About Us</h1>
            </div>
            <div class="col-md-6 text-right">
                <div class="bread">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">About Us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
{% load static %}
<div > <!-- Set a definite height for the parent container -->
    <img style="height: 100%; width: 100%; " src="{% static 'info/upload/abt-1.png' %}" alt="">
</div>

<section class="white section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="media-element">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="{% static 'info/upload/01.jpg' %}" alt="" class="img-responsive">
                            </div>
                            <div class="item">
                                <img src="{% static 'info/upload/02.jpg' %}" alt="" class="img-responsive">
                            </div>
                            <div class="item">
                                <img src="{% static 'info/upload/03.jpg' %}" alt="" class="img-responsive">
                            </div>
                            <div class="item">
                                <img src="{% static 'info/upload/10.jpg' %}" alt="" class="img-responsive">
                            </div>
                            <div class="item">
                                <img src="{% static 'info/upload/13.jpg' %}" alt="" class="img-responsive">
                            </div>
                            <div class="item">
                                <img src="{% static 'info/upload/14.jpg' %}" alt="" class="img-responsive">
                            </div>
                            <div class="item">
                                <img src="{% static 'info/upload/15.jpg' %}" alt="" class="img-responsive">
                            </div>
                            <div class="item">
                                <img src="{% static 'info/upload/futuristic.jpg' %}" alt="" class="img-responsive">
                            </div>
                            <div class="item">
                                <img src="{% static 'info/upload/06.jpeg' %}" alt="" class="img-responsive">
                            </div>
                            <div class="item">
                                <img src="{% static 'info/upload/8.jpg' %}" alt="" class="img-responsive">
                            </div>
                            <div class="item">
                                <img src="{% static 'info/upload/12.webp' %}" alt="" class="img-responsive">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="fa fa-angle-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="fa fa-angle-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-widget">
                    <div class="widget-title">
                        <h4>Welcome to Unicorn-Tech3-Academy</h4>
                        <hr>
                    </div>
                    <p>Unicorn-Tech3 Academy is a
                        transformative online school
                        empowering African students
                        with cutting-edge tech skills, AI
                        education, and practical life
                        expertise to create startups,
                        solve challenges, and lead the
                        continent's innovation revolution.
                        Empowering young African minds to shape a
                        brighter, sustainable future.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="check">
                                <li>Professional Teachers</li>
                                <li>24/7 Online Course</li>
                                <li>Works with All Devices</li>
                                <li>Friendly User Panel</li>
                                <li>Support Desk for All Prices</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="check">
                                <li>Lifetime Membership</li>
                                <li>Online Chat with Support</li>
                                <li>Second Course 50% Cheap</li>
                                <li>Limitless Bandwidth</li>
                                <li>And much more...</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% load static %}
        <div > <!-- Set a definite height for the parent container -->
            <img style="height: 100%; width: 100%; margin: 20px 0px;" src="{% static 'info/upload/abt-2.png' %}" alt="">
        </div>
        <br>
        {% load static %}
        <div > <!-- Set a definite height for the parent container -->
            <img style="height: 100%; width: 100%; margin: 10px 0px;" src="{% static 'info/upload/abt-7.png' %}" alt="">
        </div>
        
        
        <hr class="invis1">
        <br>
        {% load static %}
        <div > <!-- Set a definite height for the parent container -->
            <img style="height: 100%; width: 100%; margin: 10px 0px;" src="{% static 'info/upload/abt-32.png' %}" alt="">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="content-widget">
                    <div class="widget-title">
                        <h4>Why Choose Us</h4>
                        <hr>
                    </div>
                    <div class="accordion-widget">
                        <div class="accordion-toggle-2">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1"
                                                href="#collapseFour">
                                                <h3>Why Unicorn-Tech3-Academy? <i class="indicator fa fa-plus"></i></h3>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Unicorn-Tech3 Academy is more than a school – it’s a revolution in
                                                education,
                                                designed to inspire, equip, and transform young minds across Africa into
                                                world
                                                class tech innovators, entrepreneurs, and problem-solvers. Our vision is
                                                bold: to
                                                empower children from kindergarten to Grade 12 with cutting-edge skills
                                                in
                                                Artificial Intelligence, software development, and practical life skills
                                                – or what we
                                                call “Street Sense” – tailored to Africa’s unique realities.
                                            </p>
                                            <p>
                                                At Unicorn-Tech3 Academy, we believe in unlocking every child’s
                                                potential to
                                                become a tech unicorn start-up founder – an innovator who not only
                                                thrives
                                                globally but also creates sustainable solutions to local challenges. By
                                                blending
                                                world-class technology education, ethical entrepreneurship, and cultural
                                                relevance,
                                                we’re nurturing a generation of thinkers, doers, and leaders who are
                                                ready to
                                                transform communities, industries, and the entire continent.
                                            </p>
                                            <p>
                                                Our curriculum is carefully designed to spark creativity, foster
                                                collaboration, and
                                                inspire innovation. From hands-on coding and cybersecurity lessons to
                                                problem
                                                solving projects rooted in Africa’s diverse contexts, every aspect of
                                                our program is
                                                built to prepare students for the future. We’re not just teaching tech;
                                                we’re shaping
                                                the creators of tomorrow – young Africans who will launch start-ups,
                                                build
                                                impactful technologies, and contribute to solving critical challenges
                                                like poverty,
                                                unemployment, and access to quality education.
                                                At Unicorn-Tech3 Academy, we dare to dream big – and we empower our
                                                students
                                                to do the same. Let’s build a brighter, smarter, and more innovative
                                                Africa together.
                                                Welcome to the future of education. Welcome to Unicorn-Tech3 Academy!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1"
                                                href="#collapseFive">
                                                <h3>What Is Our Vision & Mission ? <i class="indicator fa fa-minus"></i>
                                                </h3>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>To transform Africa into a global
                                                hub of young tech innovators by
                                                equipping K-12 students with AI
                                                skills, software
                                                development/engineering
                                                expertise, and practical life skills
                                                tailored to the continent’s
                                                realities, empowering them to
                                                launch startups, solve local
                                                challenges, and drive
                                                sustainable development.

                                                <br><br>
                                                To provide African primary and
                                                secondary school students with
                                                a world-class technology
                                                education rooted in practical
                                                skills and cultural relevance,
                                                enabling them to innovate,
                                                create jobs, and tackle critical
                                                issues like poverty,
                                                unemployment, and access to
                                                quality education.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1"
                                                href="#collapseSix">
                                                <h3>What is Unicorn-Tech3-Academy Courses ? <i
                                                        class="indicator fa fa-plus"></i>
                                                </h3>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Computer science <br>
                                                Ai-Education <br>
                                                Cybersecurity <br>
                                                Street Sense (Life Skills) <br>
                                                Entrepreneurial Education <br>
                                                Web3 Development <br>
                                                Mobile App Development <br>
                                                Datascience / Ai-Engineering <br>
                                                Grant Writting <br>
                                                Stock-Analysis & Management <br>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-widget">
                    <div class="widget-title">
                        <h4>Courses you can register</h4>
                        <hr>
                    </div>
                    <div class="teacher-skills">
                        <p>Computer science - 90%</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%;">
                                <span class="sr-only">Computer science 90%</span>
                            </div>
                        </div>
                        <p>Ai-Education - 95%</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;">
                                <span class="sr-only">Ai-Education 95%</span>
                            </div>
                        </div>
                        <p>Cybersecurity - 95%</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;">
                                <span class="sr-only">Cybersecurity 95%</span>
                            </div>
                        </div>
                        <p>Street Sense (Life Skills) - 100%</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;">
                                <span class="sr-only">Street Sense (Life Skills) 100%</span>
                            </div>
                        </div>
                        <p>Entrepreneurial Education - 70%</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;">
                                <span class="sr-only">Entrepreneurial Education 70%</span>
                            </div>
                        </div>
                        <p>Web3 Development - 80%</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;">
                                <span class="sr-only">Web3 Development 80%</span>
                            </div>
                        </div>
                        <p>Mobile App Development - 90%</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%;">
                                <span class="sr-only">Mobile App Development 90%</span>
                            </div>
                        </div>
                        <p>Datascience / Ai-Engineering - 100%</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;">
                                <span class="sr-only">Datascience / Ai-Engineering 100%</span>
                            </div>
                        </div>
                        <p>Grant Writting - 70%</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;">
                                <span class="sr-only">Grant Writting 70%</span>
                            </div>
                        </div>
                        <p>Stock-Analysis & Management - 80%</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;">
                                <span class="sr-only">Stock-Analysis & Management 80%</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br>
        {% load static %}
        <div > <!-- Set a definite height for the parent container -->
            <img style="height: 100%; width: 100%; margin: 10px 0px;" src="{% static 'info/upload/abt-4.png' %}" alt="">
        </div>
        <hr class="invis1">
        <div class="row">
            <div class="col-md-12">
                <div class="content-widget">
                    <div class="widget-title">
                        <h4>Meet Our Team</h4>
                        <hr>
                    </div>
                    <div class="team-members row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team">
                                <img src="{% static 'info/upload/remi.jpeg' %}" alt=""
                                     class="img-responsive wow fadeInUp"
                                     style="padding-top: 20px; padding-bottom: 20px; width: 100%; "> <div style=" width: 100%;"  class="team-hover-content">
                                    <h5>O. Remilekun D.</h5>
                                    <span>Ai-Engineer</span>
                                    <p>He is an Ai engineer with 8+ years experience in the field of AI.</p>
                                    <div class="social">
                                        <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                        <a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team">
                                <img src="{% static 'info/upload/xteam_02.jpg.pagespeed.ic.Foo3PN64df.jpg' %}" alt=""
                                     class="img-responsive wow fadeInUp"
                                     style="padding-top: 20px; padding-bottom: 20px; width: 100%; "> <div style=" width: 100%;"  class="team-hover-content">
                                    <h5>Adam DEO</h5>
                                    <span>SEO Manager</span>
                                    <p>Curabitur ultrices nec est nec vestibulum. Maecenas tincidunt pretium lacinia.
                                        Nullam purus dolor, tempor et lacinia quis, viverra quis erat.</p>
                                    <div class="social">
                                        <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                        <a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team">
                                <img src="{% static 'info/upload/xteam_03.jpg.pagespeed.ic.Mw22RnI1eL.jpg' %}" alt=""
                                     class="img-responsive wow fadeInUp"
                                     style="padding-top: 20px; padding-bottom: 20px; width: 100%; "> <div style=" width: 100%;"  class="team-hover-content">
                                    <h5>Jenny Kennedy</h5>
                                    <span>Advertising Manager</span>
                                    <p>Curabitur ultrices nec est nec vestibulum. Maecenas tincidunt pretium lacinia.
                                        Nullam purus dolor, tempor et lacinia quis, viverra quis erat.</p>
                                    <div class="social">
                                        <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                        <a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team">
                                <img src="{% static 'info/upload/xteam_04.jpg.pagespeed.ic.equz9NTtM1.jpg' %}" alt="" class="img-responsive wow fadeInUp" style="padding-top: 20px; padding-bottom: 20px; width: 100%;"> 
                                <div style=" width: 100%;"  class="team-hover-content">
                                    <h5>Jennifer DEO</h5>
                                    <span>Social Manager</span>
                                    <p>Curabitur ultrices nec est nec vestibulum. Maecenas tincidunt pretium lacinia.
                                        Nullam purus dolor, tempor et lacinia quis, viverra quis erat.</p>
                                    <div class="social">
                                        <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                        <a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% load static %}
        <div > <!-- Set a definite height for the parent container -->
            <img style="height: 100%; width: 100%; margin: 10px 0px;" src="{% static 'info/upload/abt-9.png' %}" alt="">
        </div>
        <hr class="invis1">
        <div class="content-widget">
            <div class="widget-title">
                <h4>Our Clients</h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img style="margin-top: 20px; margin-bottom: 20px; width: 100%; " src="{% static 'info/upload/xclient_01.png.pagespeed.ic.m5NnlxSzhM.png' %}" alt=""
                    class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img style="margin-top: 20px; margin-bottom: 20px; width: 100%; " src="{% static 'info/upload/xclient_02.png.pagespeed.ic.BsH9V4BqCi.png' %}" alt=""
                    class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img style="margin-top: 20px; margin-bottom: 20px; width: 100%; " src="{% static 'info/upload/xclient_03.png.pagespeed.ic.mxzQrepbL_.png' %}" alt=""
                    class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img  style="margin-top: 20px; margin-bottom: 20px; width: 100%; "src="{% static 'info/upload/xclient_04.png.pagespeed.ic.Fx2ObIy0Eb.png' %}" alt=""
                    class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img  style="margin-top: 20px; margin-bottom: 20px; width: 100%; " src="{% static 'info/upload/xclient_05.png.pagespeed.ic.GBNy2ra72B.png' %}" alt=""
                    class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img style="margin-top: 20px; margin-bottom: 20px; width: 100%; " src="{% static 'info/upload/xclient_06.png.pagespeed.ic.a_uqmnbFy0.png' %}" alt=""
                    class="img-responsive img-thumbnail">
            </div>
        </div>
        <br>
        {% load static %}
        <div > <!-- Set a definite height for the parent container -->
            <img style="height: 100%; width: 100%; margin: 10px 0px;" src="{% static 'info/upload/abt-8.png' %}" alt="">
        </div>
    </div>
</section>
{% endblock main %}