{% extends 'info/index.html' %}

{% load static %}

{% block main %}
<section class="grey page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h1>Community Forums</h1>
            </div>
            <div class="col-md-6 text-right">
                <div class="bread">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Courses</a></li>
                        <li class="active">Forums</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="white section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h4>Welcome to Community</h4>
                    <p>Simply The Most Featured Rich HTML5 Learning Management System</p>
                </div>
            </div>
        </div>
        <div class="row service-center">
            <div class="col-md-4 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-graduation-cap"></i>
                    <p><strong>Multi-Tier Courses</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiing elit. Integer lorem quam..</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-shopping-cart"></i>
                    <p><strong>Sell Online Courses</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiing elit. Integer lorem quam..</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-question"></i>
                    <p><strong>Advanced Quizzing</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiing elit. Integer lorem quam..</p>
                </div>
            </div>
        </div>
        <hr class="invis">
        <div class="row">
            <div class="col-md-12">
                <div id="bbpress-forums">
                    <ul class="bbp-forums">
                        <li class="bbp-header">
                            <ul class="forum-titles">
                                <li class="bbp-forum-info">Forums</li>
                                <li class="bbp-forum-topic-count">Topics</li>
                                <li class="bbp-forum-reply-count">Posts</li>
                                <li class="bbp-forum-freshness">Freshness</li>
                            </ul>
                        </li>
                        <li class="bbp-body">
                            <ul class="forum type-forum">
                                <li class="bbp-forum-info">
                                    <img src="{% static 'info/upload/xstudent_01.png.pagespeed.ic.756JwMcqdq.png' %}" alt=""
                                         class="alignleft img-thumbnail">
                                    <a class="bbp-forum-title" href="#" title="General">General Forums</a>
                                    <div class="bbp-forum-content">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting
                                        industry.
                                    </div>
                                </li>
                                <li class="bbp-forum-topic-count">21</li>
                                <li class="bbp-forum-reply-count">332</li>
                                <li class="bbp-forum-freshness">
                                    <a href="#" title="Reply To: Please NOTIFY YOUR CUSTOMERS of UPDATES">2 days, 7
                                        hours ago</a>
                                    <p class="bbp-topic-meta">
                        <span class="bbp-topic-freshness-author">
                          <a href="#" title="View admin profile" class="bbp-author-avatar" rel="nofollow">
                            <img alt="" src="{% static 'info/upload/xstudent_02.png.pagespeed.ic.y-PM-y4pVj.png' %}" class="avatar">
                          </a>&nbsp;<a href="#" title="View admin profile" class="bbp-author-name" rel="nofollow">John
                            DOE</a>
                        </span>
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li class="bbp-body">
                            <ul class="forum type-forum">
                                <li class="bbp-forum-info">
                                    <img src="{% static 'info/upload/xstudent_02.png.pagespeed.ic.y-PM-y4pVj.png' %}" alt=""
                                         class="alignleft img-thumbnail">
                                    <a class="bbp-forum-title" href="#" title="General">Learning Graphic Design</a>
                                    <div class="bbp-forum-content">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting
                                        industry.
                                    </div>
                                </li>
                                <li class="bbp-forum-topic-count">44</li>
                                <li class="bbp-forum-reply-count">134</li>
                                <li class="bbp-forum-freshness">
                                    <a href="#" title="Reply To: Please NOTIFY YOUR CUSTOMERS of UPDATES">2 days, 7
                                        hours ago</a>
                                    <p class="bbp-topic-meta">
                        <span class="bbp-topic-freshness-author">
                          <a href="#" title="View admin profile" class="bbp-author-avatar" rel="nofollow">
                            <img alt="" src="{% static 'info/upload/xstudent_05.png.pagespeed.ic.moTx3bMNF3.png' %}" class="avatar">
                          </a>&nbsp;<a href="#" title="View admin profile" class="bbp-author-name" rel="nofollow">Bobby
                            DISTLEs</a>
                        </span>
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li class="bbp-body">
                            <ul class="forum type-forum">
                                <li class="bbp-forum-info">
                                    <img src="{% static 'info/upload/xstudent_03.png.pagespeed.ic.uCQY3WNMCJ.png' %}" alt=""
                                         class="alignleft img-thumbnail">
                                    <a class="bbp-forum-title" href="#" title="General">WordPress Support & Desk
                                        Forum</a>
                                    <div class="bbp-forum-content">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting
                                        industry.
                                    </div>
                                </li>
                                <li class="bbp-forum-topic-count">3</li>
                                <li class="bbp-forum-reply-count">146</li>
                                <li class="bbp-forum-freshness">
                                    <a href="#" title="Reply To: Please NOTIFY YOUR CUSTOMERS of UPDATES">2 days, 7
                                        hours ago</a>
                                    <p class="bbp-topic-meta">
                        <span class="bbp-topic-freshness-author">
                          <a href="#" title="View admin profile" class="bbp-author-avatar" rel="nofollow">
                            <img alt="" src="{% static 'info/upload/xstudent_05.png.pagespeed.ic.moTx3bMNF3.png' %}" class="avatar">
                          </a>&nbsp;<a href="#" title="View admin profile" class="bbp-author-name" rel="nofollow">Bobby
                            DISTLEs</a>
                        </span>
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li class="bbp-body">
                            <ul class="forum type-forum">
                                <li class="bbp-forum-info">
                                    <img src="{% static 'info/upload/xstudent_03.png.pagespeed.ic.uCQY3WNMCJ.png' %}" alt=""
                                         class="alignleft img-thumbnail">
                                    <a class="bbp-forum-title" href="#" title="General">Why LearnPLUS support
                                        customers?</a>
                                    <div class="bbp-forum-content">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting
                                        industry.
                                    </div>
                                </li>
                                <li class="bbp-forum-topic-count">56</li>
                                <li class="bbp-forum-reply-count">12</li>
                                <li class="bbp-forum-freshness">
                                    <a href="#" title="Reply To: Please NOTIFY YOUR CUSTOMERS of UPDATES">2 days, 7
                                        hours ago</a>
                                    <p class="bbp-topic-meta">
                        <span class="bbp-topic-freshness-author">
                          <a href="#" title="View admin profile" class="bbp-author-avatar" rel="nofollow">
                            <img alt="" src="{% static 'info/upload/xstudent_05.png.pagespeed.ic.moTx3bMNF3.png' %}" class="avatar">
                          </a>&nbsp;<a href="#" title="View admin profile" class="bbp-author-name" rel="nofollow">Bobby
                            DISTLEs</a>
                        </span>
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li class="bbp-body">
                            <ul class="forum type-forum">
                                <li class="bbp-forum-info">
                                    <img src="{% static 'info/upload/xstudent_05.png.pagespeed.ic.moTx3bMNF3.png' %}" alt=""
                                         class="alignleft img-thumbnail">
                                    <a class="bbp-forum-title" href="#" title="General">Dont' Miss This Topic! Its
                                        IMPORTANT</a>
                                    <div class="bbp-forum-content">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting
                                        industry.
                                    </div>
                                </li>
                                <li class="bbp-forum-topic-count">41</li>
                                <li class="bbp-forum-reply-count">567</li>
                                <li class="bbp-forum-freshness">
                                    <a href="#" title="Reply To: Please NOTIFY YOUR CUSTOMERS of UPDATES">2 days, 7
                                        hours ago</a>
                                    <p class="bbp-topic-meta">
                        <span class="bbp-topic-freshness-author">
                          <a href="#" title="View admin profile" class="bbp-author-avatar" rel="nofollow">
                            <img alt="" src="{% static 'info/upload/xstudent_05.png.pagespeed.ic.moTx3bMNF3.png' %}" class="avatar">
                          </a>&nbsp;<a href="#" title="View admin profile" class="bbp-author-name" rel="nofollow">Bobby
                            DISTLEs</a>
                        </span>
                                    </p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav class="text-center">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="grey section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h4>Happy Students</h4>
                    <p>What Our Students Say About LearnPLUS</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="testimonial">
                    <img class="alignleft img-circle" src="{% static 'info/upload/xstudent_01.png.pagespeed.ic.756JwMcqdq.png' %}" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and industry. </p>
                    <div class="testimonial-meta">
                        <h4>John DOE <small><a href="#">.com</a></small></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="testimonial">
                    <img class="alignleft img-circle" src="{% static 'info/upload/xstudent_02.png.pagespeed.ic.y-PM-y4pVj.png' %}" alt="">
                    <p>Lorem Ipsum is simply dummy text of the most popular items.</p>
                    <div class="testimonial-meta">
                        <h4>Jenny Anderson <small><a href="#">photodune.com</a></small></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="testimonial">
                    <img class="alignleft img-circle" src="{% static 'info/upload/xstudent_03.png.pagespeed.ic.uCQY3WNMCJ.png' %}" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    <div class="testimonial-meta">
                        <h4>Mark BOBS <small><a href="#">tutsplus.com</a></small></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrapper text-center">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since<br> the 1500s, when an unknown printer took a galley of type
                and
                scrambled it to make a type specimen book. </p>
            <a href="#" class="btn btn-default border-radius"><i class="fa fa-sign-in"></i> Join Us Today</a>
            &nbsp;&nbsp;&nbsp;&nbsp; <a href="#" class="btn btn-primary"><i class="fa fa-download"></i> Download PDF</a>
        </div>
    </div>
</section>
{% endblock main %}