{% extends 'info/index.html' %}

{% load static %}

{% block main %}
<section class="slider-section">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="1" data-masterspeed="500"
                    data-thumb="{% static 'info/upload/10.jpg' %}"
                    data-saveperformance="off" data-title="Slide">
                    <img src="{% static 'info/upload/10.jpg' %}" alt="fullslide1"
                         data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <div class="tp-caption slider_layer_01 text-center lft tp-resizeme" data-x="center" data-y="220"
                         data-speed="1000" data-start="600" data-easing="Power3.easeInOut" data-splitin="none"
                         data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><i
                            class="fa fa-graduation-cap"></i> Unicorn-<strong>Tech3</strong> Academy
                    </div>
                    <div class="tp-caption slider_layer_02 text-center lft tp-resizeme" data-x="center" data-y="320"
                         data-speed="1000" data-start="800" data-easing="Power3.easeInOut" data-splitin="none"
                         data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap; color: rgb(255, 255, 255);">Great Education Hub
                        for Africans,Youths and Adults<br> with detailed rigorous curriculum and custom teaching!
                    </div>
                    <div class="tp-caption text-center lft tp-resizeme" data-x="center" data-y="390" data-speed="1000"
                         data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                         data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><a
                            href="{% url 'course_list' %}" class="btn btn-default">Start Learning</a> <a
                            href="{% url 'about' %}"
                            class="btn btn-primary">Learn More</a>
                    </div>
                </li>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" data-delay="5000">
                    <img src="{% static 'info/upload/14.jpg' %}" alt="video_business"
                         data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <div class="tp-caption tp-fade fadeout fullscreenvideo" data-x="0" data-y="0" data-speed="1000"
                         data-start="800" data-easing="Power4.easeOut" data-endspeed="1500"
                         data-endeasing="Power4.easeIn"
                         data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"
                         data-forceCover="1"
                         data-aspectratio="16:9" data-forcerewind="on" style="z-index: 2">
                    </div>
                    <div class="tp-caption slider_layer_01 text-center lft tp-resizeme" data-x="center" data-y="220"
                         data-speed="1000" data-start="600" data-easing="Power3.easeInOut" data-splitin="none"
                         data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><i
                            class="fa fa-graduation-cap"></i>
                        Detailed <strong>High-Quality VIDEO</strong> Teachings
                    </div>
                    <div class="tp-caption slider_layer_02 lightcolor text-center lft tp-resizeme" data-x="center"
                         data-y="320" data-speed="1000" data-start="800" data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap; color: black; font-weight: bold; font-size: medium; ">Unicorn-Tech3 Academy videos
                        are made with the highest quality video
                        With Revolution Ai integration<br> This is aimed to revolutionise and create a personalised
                        learning.
                    </div>
                    <div class="tp-caption text-center lft tp-resizeme" data-x="center" data-y="390" data-speed="1000"
                         data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                         data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><a
                            href="{% url 'course_list' %}" class="btn btn-default">Start Learning</a> <a
                            href="{% url 'about' %}" class="btn btn-primary">Learn More</a>
                    </div>
                </li>
                <li data-transition="fade" data-slotamount="1" data-masterspeed="500"
                    data-thumb="{% static 'info/upload/11.jpg' %}"
                    data-saveperformance="off" data-title="Slide">
                    <img src="{% static 'info/upload/11.jpg' %}" alt="fullslide1"
                         data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <div class="tp-caption slider_layer_05 text-center lft tp-resizeme" data-x="center" data-y="140"
                         data-speed="1000" data-start="600" data-easing="Power3.easeInOut" data-splitin="none"
                         data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><i
                            class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="tp-caption slider_layer_01 text-center lft tp-resizeme" data-x="center" data-y="250"
                         data-speed="1000" data-start="600" data-easing="Power3.easeInOut" data-splitin="none"
                         data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">Unicorn-Tech3 Academy LMS
                    </div>
                    <div class="tp-caption slider_layer_02 text-center lft tp-resizeme" data-x="center" data-y="360"
                         data-speed="1000" data-start="800" data-easing="Power3.easeInOut" data-splitin="none"
                         data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style=" color: black; font-weight: bold; font-size: medium; z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">Great Learning Hub
                        To Revolutionalize African's  K-12 Education System,
                         Tech for youths <br> with tons of options and custom sections!
                    </div>
                    <div class="tp-caption text-center lft tp-resizeme" data-x="center" data-y="440" data-speed="1000"
                         data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                         data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><a target="_blank"
                                                                                                        href="{% url 'course_list' %}"
                                                                                                        class="btn btn-primary">Purchase
                        Now</a> <a target="_blank"
                                   href="{% url 'about' %}" class="btn btn-default">Read More
                        About</a>
                    </div>
                </li>
                <li data-transition="fade" data-slotamount="1" data-masterspeed="500"
                    data-thumb="{% static 'info/upload/15.jpg' %}"
                    data-saveperformance="off" data-title="Slide">
                    <img src="{% static 'info/upload/15.jpg' %}" alt="fullslide1"
                         data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <div class="tp-caption slider_layer_04 text-center lft tp-resizeme" data-x="center" data-y="200"
                         data-speed="1000" data-start="600" data-easing="Power3.easeInOut" data-splitin="none"
                         data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><strong>Kindergarteen - K12 </strong>
                    </div>
                    <div class="tp-caption slider_layer_03 text-center lft tp-resizeme" data-x="300" data-y="240"
                         data-speed="1000" data-start="600" data-easing="Power3.easeInOut" data-splitin="none"
                         data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style="  z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><i
                            class="fa fa-html5"></i>
                    </div>
                    <div class="tp-caption slider_layer_03 text-center lft tp-resizeme" data-x="400" data-y="240"
                         data-speed="1000" data-start="600" data-easing="Power3.easeInOut" data-splitin="none"
                         data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style="  z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><i
                            class="fa fa-tablet"></i>
                    </div>
                    <div class="tp-caption slider_layer_03 text-center lft tp-resizeme" data-x="500" data-y="240"
                         data-speed="1000" data-start="600" data-easing="Power3.easeInOut" data-splitin="none"
                         data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style="  z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><i
                            class="fa fa-laptop"></i>
                    </div>
                    <div class="tp-caption slider_layer_03 text-center lft tp-resizeme" data-x="620" data-y="240"
                         data-speed="1000" data-start="600" data-easing="Power3.easeInOut" data-splitin="none"
                         data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style="  z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><i
                            class="fa fa-mobile"></i>
                    </div>
                    <div class="tp-caption slider_layer_03 text-center lft tp-resizeme" data-x="800" data-y="240"
                         data-speed="1000" data-start="600" data-easing="Power3.easeInOut" data-splitin="none"
                         data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style="  z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><i
                            class="fa fa-css3"></i>
                    </div>
                    <div class="tp-caption slider_layer_03 text-center lft tp-resizeme" data-x="700" data-y="240"
                         data-speed="1000" data-start="600" data-easing="Power3.easeInOut" data-splitin="none"
                         data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style="  z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><i
                            class="fa fa-pencil"></i>
                    </div>
                    <div class="tp-caption slider_layer_02 text-center lft tp-resizeme" data-x="center" data-y="340"
                         data-speed="1000" data-start="800" data-easing="Power3.easeInOut" data-splitin="none"
                         data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style=" color: black; font-weight: bold; font-size: medium;  z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">Smart courses like computer science, Ai education, cybersecurity, street sense, entrepreneurial education<br> with tons of capstone projects that solves real problems!
                    </div>
                    <div class="tp-caption text-center lft tp-resizeme" data-x="center" data-y="410" data-speed="1000"
                         data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                         data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000"
                         style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><a target="_blank"
                                                                                                        href="{% url 'course_list' %}"
                                                                                                        class="btn btn-default">Test
                        Responsive Now</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="white section">
    <div class="background-image">
        <img src="{% static 'info/upload/DML.png' %}" alt="Overlapping Image 2" style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h4>CORE VALUES OF UNICORN-TECH3 ACADEMY</h4>
                    <p style="color: rgb(39, 39, 39);">At Unicorn-Tech3 Academy, we provide an advanced and interactive learning environment designed to ensure maximum engagement and practical learning.</p>
                </div>
            </div>
        </div>
        <div class="row service-center">
            <div class="col-md-3 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-graduation-cap"></i>
                    <p><strong> Innovation and Creativity</strong></p>
                    <p style="color: #007BFF;"> We inspire students to think outside the box, embrace innovation, and apply creativity to solve real-world challenges, fostering a mindset of continuous improvement.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-gears"></i>
                    <p><strong> Empowerment and Inclusion</strong></p>
                    <p style="color: #007BFF;">We are committed to empowering
                        every child, regardless of their
                        background, by providing equal
                        opportunities to learn, grow, and
                        succeed in a tech-driven world.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-bars"></i>
                    <p><strong>Integrity and Responsibility</strong></p>
                    <p style="color: #007BFF;"> 
                        We uphold honesty,
                        accountability, and ethical
                        behavior, nurturing students to
                        become responsible leaders and
                        role models in their communities.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-star"></i>
                    <p><strong>Excellence and Resilience</strong></p>
                    <p style="color: #007BFF;">
                        We strive for academic and
                        personal excellence, cultivating
                        resilience in our students to
                        overcome challenges and achieve
                        their full potential.
                       </p>
                </div>
            </div>
        </div>
        <hr class="invis">
        <div class="callout row">
            <div class="col-md-9">
                <h4><i class="fa fa-graduation-cap fa-3x alignleft" style="color: red;"></i>  Empowering young African minds with
                    world-class tech education,  <a href="#">practical
                        life skills,</a><br> and innovation to shape a
                        brighter, sustainable future.</h4>
            </div>
            <div class="col-md-3" style="color: #007BFF;">
                <a href="{% url 'course_list' %}" class="btn btn-primary btn-block">Get In Touch</a>
            </div>
        </div>
    </div>
</section>



  
  

<section  class="grey section" style="position: relative; z-index: 1; background-color: #007BFF;">
    <!-- Overlapping Images -->
    <img src="{% static 'info/upload/12.webp' %}" alt="Overlapping Image 1" 
         style=" border-radius: 20px; position: absolute; top: -60px; left: 10px; z-index: 2; width: 200px; height: auto; border: 2px solid red;">
  
    <img src="{% static 'info/upload/futuristic.jpg' %}" alt="Overlapping Image 2" 
         style="border-radius: 20px;  position: absolute; top: -60px; right: 10px; z-index: 2; width: 200px; height: auto; border: 2px solid red;">
 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h4> Our Popular Courses</h4>
                    <p>Listed Below Our Most Popular Courses</p>
                </div>
            </div>
        </div>
        <div id="owl-featured" class="owl-custom">
            <div class="owl-featured">
                <div class="shop-item-list entry">
                    <div class="">
                        <img src="{% static 'info/upload/computerscience.png' %}" alt="">
                        <div class="magnifier">
                        </div>
                    </div>
                    <div class="shop-item-title clearfix">
                        <h4><a href="{% url 'course_list' %}">Computer Science</a></h4>
                        <div class="shopmeta">
                            <span class="pull-left">12 Student</span>
                            <div class="rating pull-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="visible-buttons">
                        <a title="Add to Cart" href="{% url 'course_list' %}"><span
                                class="fa fa-cart-arrow-down"></span></a>
                        <a title="Read More" href="{% url 'course_list' %}"><span class="fa fa-search"></span></a>
                    </div>
                </div>
            </div>
            <div class="owl-featured">
                <div class="shop-item-list entry">
                    <div class="">
                        <img src="{% static 'info/upload/ai.png' %}" alt="">
                        <div class="magnifier">
                        </div>
                    </div>
                    <div class="shop-item-title clearfix">
                        <h4><a href="{% url 'course_list' %}">Ai Education</a></h4>
                        <div class="shopmeta">
                            <span class="pull-left">21 Student</span>
                            <div class="rating pull-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </div>
                    <div class="visible-buttons">
                        <a title="Add to Cart" href="{% url 'course_list' %}"><span
                                class="fa fa-cart-arrow-down"></span></a>
                        <a title="Read More" href="{% url 'course_list' %}"><span class="fa fa-search"></span></a>
                    </div>
                </div>
            </div>
            <div class="owl-featured">
                <div class="shop-item-list entry">
                    <div class="">
                        <img src="{% static 'info/upload/cybersecurity.jpg' %}" alt="">
                        <div class="magnifier">
                        </div>
                    </div>
                    <div class="shop-item-title clearfix">
                        <h4><a href="{% url 'course_list' %}">Cybersecurity</a></h4>
                        <div class="shopmeta">
                            <span class="pull-left">98 Student</span>
                            <div class="rating pull-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </div>
                    <div class="visible-buttons">
                        <a title="Add to Cart" href="{% url 'course_list' %}"><span
                                class="fa fa-cart-arrow-down"></span></a>
                        <a title="Read More" href="{% url 'course_list' %}"><span class="fa fa-search"></span></a>
                    </div>
                </div>
            </div>
            <div class="owl-featured">
                <div class="shop-item-list entry">
                    <div class="">
                        <img src="{% static 'info/upload/streetsense.jpg' %}" alt="">
                        <div class="magnifier">
                        </div>
                    </div>
                    <div class="shop-item-title clearfix">
                        <h4><a href="{% url 'course_list' %}">Street Sense (Life Skills)</a></h4>
                        <div class="shopmeta">
                            <span class="pull-left">198 Student</span>
                            <div class="rating pull-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </div>
                    <div class="visible-buttons">
                        <a title="Add to Cart" href="{% url 'course_list' %}"><span
                                class="fa fa-cart-arrow-down"></span></a>
                        <a title="Read More" href="{% url 'course_list' %}"><span class="fa fa-search"></span></a>
                    </div>
                </div>
            </div>

            <div class="owl-featured">
                <div class="shop-item-list entry">
                    <div class="">
                        <img src="{% static 'info/upload/entre.jpg' %}" alt="">
                        <div class="magnifier">
                        </div>
                    </div>
                    <div class="shop-item-title clearfix">
                        <h4><a href="{% url 'course_list' %}">Entrepreneurial Education</a></h4>
                        <div class="shopmeta">
                            <span class="pull-left">12 Student</span>
                            <div class="rating pull-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="visible-buttons">
                        <a title="Add to Cart" href="{% url 'course_list' %}"><span
                                class="fa fa-cart-arrow-down"></span></a>
                        <a title="Read More" href="{% url 'course_list' %}"><span class="fa fa-search"></span></a>
                    </div>
                </div>
            </div>

            <div class="owl-featured">
                <div class="shop-item-list entry">
                    <div class="">
                        <img src="{% static 'info/upload/web3.png' %}" alt="">
                        <div class="magnifier">
                        </div>
                    </div>
                    <div class="shop-item-title clearfix">
                        <h4><a href="{% url 'course_list' %}">Web3 Development</a></h4>
                        <div class="shopmeta">
                            <span class="pull-left">12 Student</span>
                            <div class="rating pull-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="visible-buttons">
                        <a title="Add to Cart" href="{% url 'course_list' %}"><span
                                class="fa fa-cart-arrow-down"></span></a>
                        <a title="Read More" href="{% url 'course_list' %}"><span class="fa fa-search"></span></a>
                    </div>
                </div>
            </div>

            <div class="owl-featured">
                <div class="shop-item-list entry">
                    <div class="">
                        <img src="{% static 'info/upload/appdev.jpg' %}" alt="">
                        <div class="magnifier">
                        </div>
                    </div>
                    <div class="shop-item-title clearfix">
                        <h4><a href="{% url 'course_list' %}">Mobile App Development</a></h4>
                        <div class="shopmeta">
                            <span class="pull-left">12 Student</span>
                            <div class="rating pull-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="visible-buttons">
                        <a title="Add to Cart" href="{% url 'course_list' %}"><span
                                class="fa fa-cart-arrow-down"></span></a>
                        <a title="Read More" href="{% url 'course_list' %}"><span class="fa fa-search"></span></a>
                    </div>
                </div>
            </div>
            <div class="owl-featured">
                <div class="shop-item-list entry">
                    <div class="picta">
                        <img src="{% static 'info/upload/DataScience.png' %}" alt="">
                        <!-- <div class="magnifier">
                        </div> -->
                    </div>
                    <div class="shop-item-title clearfix">
                        <h4><a href="{% url 'course_list' %}">Datascience</a></h4>
                        <div class="shopmeta">
                            <span class="pull-left">12 Student</span>
                            <div class="rating pull-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="visible-buttons">
                        <a title="Add to Cart" href="{% url 'course_list' %}"><span
                                class="fa fa-cart-arrow-down"></span></a>
                        <a title="Read More" href="{% url 'course_list' %}"><span class="fa fa-search"></span></a>
                    </div>
                </div>
            </div>

            <div class="owl-featured">
                <div class="shop-item-list entry">
                    <div class="">
                        <img src="{% static 'info/upload/aieng.jpg' %}" alt="">
                        <div class="magnifier">
                        </div>
                    </div>
                    <div class="shop-item-title clearfix">
                        <h4><a href="{% url 'course_list' %}">Ai-Engineering</a></h4>
                        <div class="shopmeta">
                            <span class="pull-left">12 Student</span>
                            <div class="rating pull-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="visible-buttons">
                        <a title="Add to Cart" href="{% url 'course_list' %}"><span
                                class="fa fa-cart-arrow-down"></span></a>
                        <a title="Read More" href="{% url 'course_list' %}"><span class="fa fa-search"></span></a>
                    </div>
                </div>
            </div>
            <div class="owl-featured">
                <div class="shop-item-list entry">
                    <div class="">
                        <img src="{% static 'info/upload/grant.jpg' %}" alt="">
                        <div class="magnifier">
                        </div>
                    </div>
                    <div class="shop-item-title clearfix">
                        <h4><a href="{% url 'course_list' %}">Grant Writting</a></h4>
                        <div class="shopmeta">
                            <span class="pull-left">12 Student</span>
                            <div class="rating pull-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="visible-buttons">
                        <a title="Add to Cart" href="{% url 'course_list' %}"><span
                                class="fa fa-cart-arrow-down"></span></a>
                        <a title="Read More" href="{% url 'course_list' %}"><span class="fa fa-search"></span></a>
                    </div>
                </div>
            </div>

            <div class="owl-featured">
                <div class="shop-item-list entry">
                    <div class="">
                        <img src="{% static 'info/upload/stock.jpg' %}" alt="">
                        <div class="magnifier">
                        </div>
                    </div>
                    <div class="shop-item-title clearfix">
                        <h4><a href="{% url 'course_list' %}">Stock Analysis & Management</a></h4>
                        <div class="shopmeta">
                            <span class="pull-left">12 Student</span>
                            <div class="rating pull-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="visible-buttons">
                        <a title="Add to Cart" href="{% url 'course_list' %}"><span
                                class="fa fa-cart-arrow-down"></span></a>
                        <a title="Read More" href="{% url 'course_list' %}"><span class="fa fa-search"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section darkskin fullscreen paralbackground parallax"
         style="background-image:url(upload/xparallax_01.jpg.pagespeed.ic.JPVsQrTu6o.jpg)" data-img-width="1627"
         data-img-height="868" data-diff="100">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h4>The Working Process</h4>
                    <p>Our key principles  that aligned with Africa’s needs</p>
                </div>
            </div>
        </div>
        <div class="row service-center">
            <div class="col-md-4 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-graduation-cap"></i>
                    <p><strong>Inclusive Access</strong></p>
                    <p>Ensure
                        quality tech education reaches
                        rural and underserved areas
                        where educational disparity is
                        prominent.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-shopping-cart"></i>
                    <p><strong>Localized Problem-Solving</strong></p>
                    <p> 
                        Teach students to apply AI and
                        software development skills to solve
                        local challenges such as agriculture
                        inefficiencies, healthcare gaps, and
                        infrastructure needs.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-question"></i>
                    <p><strong>Practical Empowerment (Tech3)</strong></p>
                    <p>
                        Blend technological expertise with
                        essential life skills ("street sense") like
                        negotiation, leadership, integrity, and
                        entrepreneurship, crucial for thriving in
                        Africa's socio-economic landscape.</p>
                </div>
            </div>
        </div>
        <div class="row service-center">
            <div class="col-md-4 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-graduation-cap"></i>
                    <p><strong> Economic Transformation</strong></p>
                    <p>
                        Inspire students to create local
                        tech startups that not only
                        generate wealth but also
                        provide solutions to
                        community-specific challenges.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-shopping-cart"></i>
                    <p><strong>Cultural Alignment</strong></p>
                    <p>  Develop
                        a curriculum that reflects
                        African realities, values, and
                        storytelling while maintaining
                        global standards in computer
                        science and AI education.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-question"></i>
                    <p><strong>Scalable Impact</strong></p>
                    <p> Develop partnerships
                        with NGOs, government bodies, and the
                        private sector to ensure sustainability and
                        expansion across African nations.</p>
                </div>
            </div>
        </div>
        <div class="row button-wrapper">
            <div class="col-md-12">
                <div class="text-center">
                    <a href="{% url 'course_list' %}" class="btn btn-default">Start New Course</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="white section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h4>Our Unique Features?</h4>
                    <p>We are unique for a purpose, our values and products set us apart?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="why-us text-right wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                    <i class="fa fa-html5 alignright"></i>
                    <h4> AI AND SOFTWARE DEVELOPMENT INTEGRATION</h4>
                    <p> From kindergarten to high school, our
                        students gain hands-on experience in
                        coding, programming, and AI
                        applications.</p>
                </div>
                <div class="why-us text-right wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.7s">
                    <i class="fa fa-laptop alignright"></i>
                    <h4>STREET SENSE CURRICULUM</h4>
                    <p> Life skills such as leadership,
                        negotiation, and critical thinking are
                        integral to our education.</p>
                </div>
                <div class="why-us text-right wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.1s">
                    <i class="fa fa-home alignright"></i>
                    <h4> ENTREPRENEURSHIP FROM DAY ONE</h4>
                    <p> Students learn to identify problems,
                        design solutions, and launch projects.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="image-center wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <img src="{% static 'info/upload/asssingmentsolver.png' %}" alt=""
                         class="img-responsive">
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="why-us text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                    <i class="fa fa-clock-o alignleft"></i>
                    <h4> LOCALIZED PROBLEM-SOLVING</h4>
                    <p> Students tackle challenges unique to
                        Africa, fostering relevance and
                        innovation</p>
                </div>
                <div class="why-us text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.9s">
                    <i class="fa fa-gears alignleft"></i>
                    <h4>EXPERT SECURITY TEACHING</h4>
                    <p>How students get first hand quality teaching on how to protect the cyberspace. They are trained by experts to be cybersecurity experts</p>
                </div>
                <div class="why-us text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.3s">
                    <i class="fa fa-leaf alignleft"></i>
                    <h4>CERTIFIED AI-ENGINEER</h4>
                    <p>Our students not only know about AI, they are trained to be an AI-Engineer.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section  class="grey section">
    <div class="row-fluid">
        
        <div class="col-md-6 myimg">
            <img src="{% static 'info/upload/page6.png' %}" alt="image 6">
        </div>
        <div   class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <div class="section-container nopadding">
                        <div class="textrotate">
                            <ul class="bxslider">
                                <li>
                                    <div class="big-title">
                                        <p style="color: blue;"class="lead">Our 2035 vision for Africa</p>
                                        <h3><span>OUR</span> VISION</h3>
                                        <div class="border-title"></div>
                                    </div>
                                    <p style="color: red; padding-right:40px;"> To transform Africa into a global
                                        hub of young tech innovators by
                                        equipping K-12 students with AI
                                        skills, software
                                        development/engineering
                                        expertise, and practical life skills
                                        tailored to the continent’s
                                        realities, empowering them to
                                        launch startups, solve local
                                        challenges, and drive
                                        sustainable development.</p>
                                    <a href="{% url 'about' %}" class="btn btn-default" title="">Learn More</a>
                                </li>
                                <li>
                                    <div class="big-title">
                                        <p style="color: blue;" class="lead">Education by Tech3</p>
                                        <h3><span>WHAT</span> WE DO</h3>
                                        <div class="border-title"></div>
                                    </div>
                                    <p style="color: red; padding-right:40px;">We are online technology education school campioning the technological landscape of Africa by training our students to be problem solver through detail curriculum and technological training.</p>
                                    <a href="{% url 'about' %}" class="btn btn-default" title="">Get a Quote</a>
                                </li>
                                <li>
                                    <div class="big-title">
                                        <p style="color: blue;"class="lead">How we will achieve our vision</p>
                                        <h3><span>OUR</span> MISSION</h3>
                                        <div class="border-title"></div>
                                    </div>
                                    <p style="color: red; padding-right:40px;">To provide African primary and secondary school students with a world-class technology education rooted in practical skills and cultural relevance, enabling them to innovate, create jobs, and tackle critical issues like poverty, unemployment, and access to quality education.</p>
                                    <a href="{% url 'contact' %}" class="btn btn-default" title="">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="white section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h4>Meet Our Team</h4>
                    <p>Some of the brain behind Unicorn-Tech3</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="content-widget">
                    <div class="team-members row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team">
                                <img src="{% static 'info/upload/remi.jpeg' %}" alt=""
                                     class="img-responsive wow fadeInUp">
                                <div class="team-hover-content">
                                    <h5>O.Remilekun D.</h5>
                                    <span>C.E.O</span>
                                    <p>A seasoned ai-engineer and a software developer.</p>
                                    <div class="social">
                                        <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                        <a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team">
                                <img src="{% static 'info/upload/xteam_02.jpg.pagespeed.ic.Foo3PN64df.jpg' %}" alt=""
                                     class="img-responsive wow fadeInUp">
                                <div class="team-hover-content">
                                    <h5>Adam DEO</h5>
                                    <span>SEO Manager</span>
                                    <p>Curabitur ultrices nec est nec vestibulum. Maecenas tincidunt pretium lacinia.
                                        Nullam purus
                                        dolor, tempor et lacinia quis, viverra quis erat.</p>
                                    <div class="social">
                                        <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                        <a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team">
                                <img src="{% static 'info/upload/xteam_03.jpg.pagespeed.ic.Mw22RnI1eL.jpg' %}" alt=""
                                     class="img-responsive wow fadeInUp">
                                <div class="team-hover-content">
                                    <h5>Jenny Kennedy</h5>
                                    <span>Advertising Manager</span>
                                    <p>Curabitur ultrices nec est nec vestibulum. Maecenas tincidunt pretium lacinia.
                                        Nullam purus
                                        dolor, tempor et lacinia quis, viverra quis erat.</p>
                                    <div class="social">
                                        <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                        <a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team">
                                <img src="{% static 'info/upload/xteam_04.jpg.pagespeed.ic.equz9NTtM1.jpg' %}" alt=""
                                     class="img-responsive wow fadeInUp">
                                <div class="team-hover-content">
                                    <h5>Jennifer DEO</h5>
                                    <span>Social Manager</span>
                                    <p>Curabitur ultrices nec est nec vestibulum. Maecenas tincidunt pretium lacinia.
                                        Nullam purus
                                        dolor, tempor et lacinia quis, viverra quis erat.</p>
                                    <div class="social">
                                        <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                        <a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section fullscreen paralbackground parallax" 
         style="background-image:url('info/upload/xparallax_02.jpg.pagespeed.ic.Sx1_qXOliB.jpg')" data-img-width="1627"
         data-img-height="868" data-diff="100">
    <div class="overlay green-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h4>Our Target by 2035</h4>
                    <p>We have great passion to meet our target by 2035</p>
                </div>
            </div>
        </div>
        <div class="row service-center funfactors">
            <div class="col-md-4 col-sm-6">
                <div class="feature-list">
                    <i class="stat-count">3000</i>
                    <p><strong>Happy Students</strong></p>
                    <p>We envisioned to make 1 milliona students by 2035.We know this is a huge goal but with your support we will achieve it.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-list">
                    <i class="stat-count">2000</i>
                    <p><strong>900450 Startups</strong></p>
                    <p>We envisioned to fund and support over 900 startups from our studetns by 2035. Your child can be part of them. We look forward to see your child/ children </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-list">
                    <i class="stat-count">3000</i>
                    <p><strong>1 million problem solver</strong></p>
                    <p>We not only create startups and teach our students, but we also turn them to problem solvers that will solve complex problems in Africa.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="white section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h4>Happy Parents</h4>
                    <p>What Our Student Parent Say About Unicorn-Tech3 Academy</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="testimonial">
                    <img class="alignleft img-circle"
                         src="{% static 'info/upload/xstudent_01.png.pagespeed.ic.756JwMcqdq.png' %}" alt="">
                    <p>I did not regret bringing my child to Unicorn-Tech3 Academy.  </p>
                    <div class="testimonial-meta">
                        <h4>John Liuedeg <small><a href="#">.com</a></small></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="testimonial">
                    <img class="alignleft img-circle"
                         src="{% static 'info/upload/xstudent_02.png.pagespeed.ic.y-PM-y4pVj.png' %}" alt="">
                    <p>My child's performance had changed tremendiously.</p>
                    <div class="testimonial-meta">
                        <h4>Jenny Anderson <small><a href="#">photodune.com</a></small></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="testimonial">
                    <img class="alignleft img-circle"
                         src="{% static 'info/upload/xstudent_03.png.pagespeed.ic.uCQY3WNMCJ.png' %}" alt="">
                    <p>The exact school I am looking for. Best for now.</p>
                    <div class="testimonial-meta">
                        <h4>Mark BOBS <small><a href="#">tutsplus.com</a></small></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrapper text-center">
            <p>At Unicorn-Tech3 Academy, we believe in unlocking every child’s potential to
                become a tech unicorn start-up founder – an innovator who not only thrives
                globally but also creates sustainable solutions to local challenges.  </p>
            <a href="{% url 'course_list' %}" class="btn btn-default border-radius"><i class="fa fa-sign-in"></i> Join
                Us
                Today</a>
            &nbsp;&nbsp;&nbsp;&nbsp; <a href="{% url 'course_list' %}" class="btn btn-primary"><i
                class="fa fa-download"></i>
            Download Our Bronchure</a>
        </div>
    </div>
</section>
<section class="grey section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h4>Our Prospective Clients</h4>
                    <p>What Company & University's Love Work With Us and With Our Teachers</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img src="{% static 'info/upload/xclient_01.png.pagespeed.ic.m5NnlxSzhM.png' %}" alt=""
                     class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img src="{% static 'info/upload/xclient_02.png.pagespeed.ic.BsH9V4BqCi.png' %}" alt=""
                     class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img src="{% static 'info/upload/xclient_03.png.pagespeed.ic.mxzQrepbL_.png' %}" alt=""
                     class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img src="{% static 'info/upload/xclient_04.png.pagespeed.ic.Fx2ObIy0Eb.png' %}" alt=""
                     class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img src="{% static 'info/upload/xclient_05.png.pagespeed.ic.GBNy2ra72B.png' %}" alt=""
                     class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img src="{% static 'info/upload/xclient_06.png.pagespeed.ic.a_uqmnbFy0.png' %}" alt=""
                     class="img-responsive img-thumbnail">
            </div>
        </div>
    </div>
</section>
{% endblock main %}