{% extends 'info/index.html' %}

{% load static %}

{% block main %}
<section class="grey page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h1>Course Instructors</h1>
            </div>
            <div class="col-md-6 text-right">
                <div class="bread">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Courses</a></li>
                        <li class="active">Course Instructors</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

{% load static %}
<div > <!-- Set a definite height for the parent container -->
    <img style="height: 100%; width: 100%; " src="{% static 'info/upload/abt-19.png' %}" alt="">
</div>
<section class="white section">
    <div class="container">
        <div class="row course-list teacher-list">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="shop-item-list entry">
                    <div class="">
                        <img src="{% static 'info/upload/xstudent_01.png.pagespeed.ic.756JwMcqdq.png' %}" alt="">
                        <div class="magnifier">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-6">
                <div class="shop-list-desc">
                    <h4><a href="#">John DEO</a></h4>
                    <div class="shopmeta">
                        <span class="pull-left"><strong>Profession :</strong> Web Design </span>
                        <div class="rating pull-right">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <hr class="invis clearfix">
                    <p>John is a Professional web designer and developer. He has 18+ years experience both in the technical world and the academics world. He has taught over 5000 students on web-design.</p>
                    <a href="{% url 'course_list' %}" class="btn btn-default"><i class="fa fa-search"></i> &nbsp; View My
                        Courses</a>
                    <a href="{% url 'contact' %}" class="btn btn-primary"><i class="fa fa-envelope-o"></i> &nbsp; Contact
                        With
                        Me</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="teacher-skills">
                    <p>WordPress - 90%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;">
                            <span class="sr-only">WordPress 90%</span>
                        </div>
                    </div>
                    <p>HTML CSS - 95%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 95%;">
                            <span class="sr-only">HTML CSS 95%</span>
                        </div>
                    </div>
                    <p>Photoshop - 70%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%;">
                            <span class="sr-only">Photoshop 70%</span>
                        </div>
                    </div>
                    <p>UI Design - 100%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%;">
                            <span class="sr-only">UI Design 100%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row course-list teacher-list">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="shop-item-list entry">
                    <div class="">
                        <img src="{% static 'info/upload/xstudent_02.png.pagespeed.ic.y-PM-y4pVj.png' %}" alt="">
                        <div class="magnifier">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-6">
                <div class="shop-list-desc">
                    <h4><a href="#">Amanda FOX</a></h4>
                    <div class="shopmeta">
                        <span class="pull-left"><strong>Profession :</strong> After Effect Projects </span>
                        <div class="rating pull-right">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <hr class="invis clearfix">
                    <p>Amanda is one of the experience teacher in the after effect space, she has taufht numberuos students and had produced wondeful projects.</p>
                    <a href="{% url 'course_list' %}" class="btn btn-default"><i class="fa fa-search"></i> &nbsp; View My
                        Courses</a>
                    <a href="{% url 'contact' %}" class="btn btn-primary"><i class="fa fa-envelope-o"></i> &nbsp; Contact
                        With
                        Me</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="teacher-skills">
                    <p>Video Editing - 100%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%;">
                            <span class="sr-only">Video Editing 100%</span>
                        </div>
                    </div>
                    <p>After Effect - 85%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%;">
                            <span class="sr-only">After Effect 85%</span>
                        </div>
                    </div>
                    <p>Movie Maker - 75%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%;">
                            <span class="sr-only">Movie Maker 75%</span>
                        </div>
                    </div>
                    <p>iMovie - 90%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;">
                            <span class="sr-only">iMovie 90%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row course-list teacher-list">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="shop-item-list entry">
                    <div class="">
                        <img src="{% static 'info/upload/xstudent_03.png.pagespeed.ic.uCQY3WNMCJ.png' %}" alt="">
                        <div class="magnifier">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-6">
                <div class="shop-list-desc">
                    <h4><a href="#">Bobby MARK FEST</a></h4>
                    <div class="shopmeta">
                        <span class="pull-left"><strong>Profession :</strong> English Teacher </span>
                        <div class="rating pull-right">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <hr class="invis clearfix">
                    <p>Bobby is an experienced educator with quality awards to show for it.He had taught both primary, scecondary and undergraduate students.</p>
                    <a href="{% url 'course_list' %}" class="btn btn-default"><i class="fa fa-search"></i> &nbsp; View My
                        Courses</a>
                    <a href="{% url 'contact' %}" class="btn btn-primary"><i class="fa fa-envelope-o"></i> &nbsp; Contact
                        With
                        Me</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="teacher-skills">
                    <p>Speking - 100%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%;">
                            <span class="sr-only">Speaking 100%</span>
                        </div>
                    </div>
                    <p>Writing - 85%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%;">
                            <span class="sr-only">Writing 85%</span>
                        </div>
                    </div>
                    <p>Editorial - 75%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%;">
                            <span class="sr-only">Editorial 75%</span>
                        </div>
                    </div>
                    <p>Team Work - 90%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;">
                            <span class="sr-only">Team Work 90%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row course-list teacher-list">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="shop-item-list entry">
                    <div class="">
                        <img src="{% static 'info/upload/xstudent_05.png.pagespeed.ic.moTx3bMNF3.png' %}" alt="">
                        <div class="magnifier">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-6">
                <div class="shop-list-desc">
                    <h4><a href="#">Bob FOREST</a></h4>
                    <div class="shopmeta">
                        <span class="pull-left"><strong>Profession :</strong> ASP PHP Developer </span>
                        <div class="rating pull-right">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <hr class="invis clearfix">
                    <p>He is one of the best tutor in the field. He has experience of 25 years.</p>
                    <a href="{% url 'course_list' %}" class="btn btn-default"><i class="fa fa-search"></i> &nbsp; View My
                        Courses</a>
                    <a href="{% url 'contact' %}" class="btn btn-primary"><i class="fa fa-envelope-o"></i> &nbsp; Contact
                        With
                        Me</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="teacher-skills">
                    <p>ASP - 100%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%;">
                            <span class="sr-only">ASP 100%</span>
                        </div>
                    </div>
                    <p>C#++ - 85%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%;">
                            <span class="sr-only">C#++ 85%</span>
                        </div>
                    </div>
                    <p>PHP - 75%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%;">
                            <span class="sr-only">PHP 75%</span>
                        </div>
                    </div>
                    <p>ASP NET - 90%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;">
                            <span class="sr-only">ASP NET 90%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row course-list teacher-list">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="shop-item-list entry">
                    <div class="">
                        <img src="{% static 'info/upload/xstudent_04.png.pagespeed.ic.e7uTdONUv0.png' %}" alt="">
                        <div class="magnifier">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-6">
                <div class="shop-list-desc">
                    <h4><a href="#">Jenny ADAMS</a></h4>
                    <div class="shopmeta">
                        <span class="pull-left"><strong>Profession :</strong> Turkish Teacher </span>
                        <div class="rating pull-right">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <hr class="invis clearfix">
                    <p>She was an astute teacher. Her teaching was a world-class.</p>
                    <a href="{% url 'course_list' %}" class="btn btn-default"><i class="fa fa-search"></i> &nbsp; View My
                        Courses</a>
                    <a href="{% url 'contact' %}" class="btn btn-primary"><i class="fa fa-envelope-o"></i> &nbsp; Contact
                        With
                        Me</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="teacher-skills">
                    <p>Speking - 100%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%;">
                            <span class="sr-only">Speaking 100%</span>
                        </div>
                    </div>
                    <p>Writing - 85%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%;">
                            <span class="sr-only">Writing 85%</span>
                        </div>
                    </div>
                    <p>Editorial - 75%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%;">
                            <span class="sr-only">Editorial 75%</span>
                        </div>
                    </div>
                    <p>Team Work - 90%</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;">
                            <span class="sr-only">Team Work 90%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="invis">
        <div class="row">
            <div class="col-md-12">
                <nav class="text-center">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="grey section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h4>Happy Parents</h4>
                    <p>What Our Student Parent Say About Unicorn-Tech3 Academy</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="testimonial">
                    <img class="alignleft img-circle"
                         src="{% static 'info/upload/xstudent_01.png.pagespeed.ic.756JwMcqdq.png' %}" alt="">
                    <p>I did not regret bringing my child to Unicorn-Tech3 Academy.  </p>
                    <div class="testimonial-meta">
                        <h4>John Liuedeg <small><a href="#">.com</a></small></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="testimonial">
                    <img class="alignleft img-circle"
                         src="{% static 'info/upload/xstudent_02.png.pagespeed.ic.y-PM-y4pVj.png' %}" alt="">
                    <p>My child's performance had changed tremendiously.</p>
                    <div class="testimonial-meta">
                        <h4>Jenny Anderson <small><a href="#">photodune.com</a></small></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="testimonial">
                    <img class="alignleft img-circle"
                         src="{% static 'info/upload/xstudent_03.png.pagespeed.ic.uCQY3WNMCJ.png' %}" alt="">
                    <p>The exact school I am looking for. Best for now.</p>
                    <div class="testimonial-meta">
                        <h4>Mark BOBS <small><a href="#">tutsplus.com</a></small></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrapper text-center">
            <p>At Unicorn-Tech3 Academy, we believe in unlocking every child’s potential to
                become a tech unicorn start-up founder – an innovator who not only thrives
                globally but also creates sustainable solutions to local challenges.  </p>
            <a href="{% url 'course_list' %}" class="btn btn-default border-radius"><i class="fa fa-sign-in"></i> Join
                Us
                Today</a>
            &nbsp;&nbsp;&nbsp;&nbsp; <a href="{% url 'course_list' %}" class="btn btn-primary"><i
                class="fa fa-download"></i>
            Download Our Bronchure</a>
        </div>
    </div>
</section>
{% endblock main %}