{% extends 'info/index.html' %}

{% load static %}

{% block main %}
<section class="grey page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h1>Pricing & Plans</h1>
            </div>
            <div class="col-md-6 text-right">
                <div class="bread">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">Pricing</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="white section">
    <div class="container">
        <div class="pricing-table">
            <div class="row">
                <div class="col-xs-12 col-sm-offset-4 col-sm-8">
                    <div class="row">
                        <div class="col-xs-4 my_planHeader my_plan1">
                            <div class="my_planTitle">Beginner</div>
                            <div class="my_planPrice">2€ per month</div>
                            <a type="button" class="btn btn-default">Sign Up</a>
                        </div>
                        <div class="col-xs-4 my_planHeader my_plan2">
                            <div class="my_planTitle">Professional</div>
                            <div class="my_planPrice">12€ per month</div>
                            <a type="button" class="btn btn-default">Sign Up</a>
                        </div>
                        <div class="col-xs-4 my_planHeader my_plan3">
                            <div class="my_planTitle">Ultimate</div>
                            <div class="my_planPrice">43.75€ per month</div>
                            <a type="button" class="btn btn-primary">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my_featureRow">
                <div class="col-xs-12 col-sm-4 my_feature col-xs-12">
                    <p>Access all course forums</p>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                            <i class="fa fa-check my_check"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                            <i class="fa fa-check my_check"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                            <i class="fa fa-check my_check"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my_featureRow">
                <div class="col-xs-12 col-sm-4 my_feature col-xs-12">
                    <p>Membership Free</p>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                            <i class="fa fa-check my_check"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                            <i class="fa fa-check my_check"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                            <i class="fa fa-check my_check"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my_featureRow">
                <div class="col-xs-12 col-sm-4 my_feature col-xs-12">
                    <p>Access single courses</p>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                            <i class="fa fa-close no_check"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                            <i class="fa fa-check my_check"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                            <i class="fa fa-check my_check"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my_featureRow">
                <div class="col-xs-12 col-sm-4 my_feature col-xs-12">
                    <p>Access all courses</p>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                            <i class="fa fa-close no_check"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                            <i class="fa fa-close no_check"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                            <i class="fa fa-check my_check"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my_featureRow">
                <div class="col-xs-12 col-sm-4 my_feature col-xs-12">
                    <p>24/7 Support</p>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                            <i class="fa fa-close no_check"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                            <i class="fa fa-check my_check"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                            <i class="fa fa-check my_check"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my_featureRow">
                <div class="col-xs-12 col-sm-4 my_feature col-xs-12">
                    <p>Message Services</p>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                            <i class="fa fa-close no_check"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                            <i class="fa fa-close no_check"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                            <i class="fa fa-check my_check"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my_featureRow">
                <div class="col-xs-12 col-sm-4 my_feature col-xs-12">
                    <p>Profile Editing</p>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                            <i class="fa fa-check my_check"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                            <i class="fa fa-check my_check"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                            <i class="fa fa-check my_check"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my_featureRow">
                <div class="col-xs-12 col-sm-4 my_feature col-xs-12">
                    <p>Live Chat</p>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan1">
                            <i class="fa fa-close no_check"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan2">
                            <i class="fa fa-check my_check"></i>
                        </div>
                        <div class="col-xs-4 col-sm-4 my_planFeature my_plan3">
                            <i class="fa fa-check my_check"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="invis">
        <div class="button-wrapper text-center">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since<br> the 1500s, when an unknown printer took a galley of type
                and
                scrambled it to make a type specimen book. </p>
            <a href="#" class="btn btn-default border-radius"><i class="fa fa-sign-in"></i> Join Us Today</a>
            &nbsp;&nbsp;&nbsp;&nbsp; <a href="#" class="btn btn-primary"><i class="fa fa-download"></i> Download PDF</a>
        </div>
    </div>
</section>
<section class="grey section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h4>Happy Students</h4>
                    <p>What Our Students Say About LearnPLUS</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="testimonial">
                    <img class="alignleft img-circle" src="{% static 'info/upload/xstudent_01.png.pagespeed.ic.756JwMcqdq.png' %}" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and industry. </p>
                    <div class="testimonial-meta">
                        <h4>John DOE <small><a href="#">.com</a></small></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="testimonial">
                    <img class="alignleft img-circle" src="{% static 'info/upload/xstudent_02.png.pagespeed.ic.y-PM-y4pVj.png' %}" alt="">
                    <p>Lorem Ipsum is simply dummy text of the most popular items.</p>
                    <div class="testimonial-meta">
                        <h4>Jenny Anderson <small><a href="#">photodune.com</a></small></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="testimonial">
                    <img class="alignleft img-circle" src="{% static 'info/upload/xstudent_03.png.pagespeed.ic.uCQY3WNMCJ.png' %}" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    <div class="testimonial-meta">
                        <h4>Mark BOBS <small><a href="#">tutsplus.com</a></small></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="white section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h4>Our Clients</h4>
                    <p>What University's Love Work With Us and With Our Teachers</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img src="{% static 'info/upload/xclient_01.png.pagespeed.ic.m5NnlxSzhM.png' %}" alt=""
                     class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img src="{% static 'info/upload/xclient_02.png.pagespeed.ic.BsH9V4BqCi.png' %}" alt=""
                     class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img src="{% static 'info/upload/xclient_03.png.pagespeed.ic.mxzQrepbL_.png' %}" alt=""
                     class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img src="{% static 'info/upload/xclient_04.png.pagespeed.ic.Fx2ObIy0Eb.png' %}" alt=""
                     class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img src="{% static 'info/upload/xclient_05.png.pagespeed.ic.GBNy2ra72B.png' %}" alt=""
                     class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img src="{% static 'info/upload/xclient_06.png.pagespeed.ic.a_uqmnbFy0.png' %}" alt=""
                     class="img-responsive img-thumbnail">
            </div>
        </div>
    </div>
</section>
{% endblock main %}