{% extends 'info/index.html' %}

{% load static %}

{% block main %}
<section class="grey page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h1>Our Services</h1>
            </div>
            <div class="col-md-6 text-right">
                <div class="bread">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">Services</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="white section nopaddingbottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-widget">
                    <div class="widget-title">
                        <h4>Our Awesome Features</h4>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-graduation-cap alignleft"></i>
                    <p><strong>Multi-Tier Courses</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiing elit. Integer lorem quam..</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-shopping-cart alignleft"></i>
                    <p><strong>Sell Online Courses</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiing elit. Integer lorem quam..</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-question alignleft"></i>
                    <p><strong>Advanced Quizzing</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiing elit. Integer lorem quam..</p>
                </div>
            </div>
        </div>
        <hr class="invis">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-lock alignleft"></i>
                    <p><strong>Expire Access</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiing elit. Integer lorem quam..</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-file-o alignleft"></i>
                    <p><strong>Manage Assignments</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiing elit. Integer lorem quam..</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-list">
                    <i class="fa fa-trophy alignleft"></i>
                    <p><strong>Certificates & Points</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiing elit. Integer lorem quam..</p>
                </div>
            </div>
        </div>
        <hr class="invis">
        <div class="row text-center">
            <div class="col-md-12 col-sm-12">
                <div class="device-image wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                    <img src="{% static 'info/upload/xdevice_01.png.pagespeed.ic.v31CZTVqg0.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="grey section">
    <div class="row-fluid">
        <div class="col-md-6 myimg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <div class="section-container nopadding">
                        <div class="textrotate">
                            <ul class="bxslider">
                                <li>
                                    <div class="big-title">
                                        <p class="lead">Vivamus quis sapien cura</p>
                                        <h3><span>WHO</span> WE ARE</h3>
                                        <div class="border-title"></div>
                                    </div>
                                    <p>Phasellus nec dolor.Sed ornare semper ipsum. Sed pede orci volutpat sed congue
                                        vels gravida non
                                        lacus.Vivamus quis sed metus quisque gravida Quisque blandit sem esed erat.
                                        Maecenas porttitor
                                        neque eu sem. Nullam lectus neque, blandit quis mattis quis varius eu eros.
                                        Vivamus ads metus.
                                        Mauris at tellus at sapien.</p>
                                    <a href="#" class="btn btn-default" title="">Learn More</a>
                                </li>
                                <li>
                                    <div class="big-title">
                                        <p class="lead">Vivamus quis sapien cura</p>
                                        <h3><span>WHAT</span> WE DO</h3>
                                        <div class="border-title"></div>
                                    </div>
                                    <p>Phasellus nec dolor.Sed ornare semper ipsum. Sed pede orci volutpat sed congue
                                        vels gravida non
                                        lacus.Vivamus quis sed metus quisque gravida Quisque blandit sem esed erat.
                                        Maecenas porttitor
                                        neque eu sem. Nullam lectus neque, blandit quis mattis quis varius eu eros.
                                        Vivamus ads metus.
                                        Mauris at tellus at sapien.</p>
                                    <a href="#" class="btn btn-default" title="">Get a Quote</a>
                                </li>
                                <li>
                                    <div class="big-title">
                                        <p class="lead">Vivamus quis sapien cura</p>
                                        <h3><span>OUR</span> MISSION</h3>
                                        <div class="border-title"></div>
                                    </div>
                                    <p>Phasellus nec dolor.Sed ornare semper ipsum. Sed pede orci volutpat sed congue
                                        vels gravida non
                                        lacus.Vivamus quis sed metus quisque gravida Quisque blandit sem esed erat.
                                        Maecenas porttitor
                                        neque eu sem. Nullam lectus neque, blandit quis mattis quis varius eu eros.
                                        Vivamus ads metus.
                                        Mauris at tellus at sapien.</p>
                                    <a href="#" class="btn btn-default" title="">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="white section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h4>Happy Students</h4>
                    <p>What Our Students Say About LearnPLUS</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="testimonial">
                    <img class="alignleft img-circle" src="{% static 'info/upload/xstudent_01.png.pagespeed.ic.756JwMcqdq.png' %}" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and industry. </p>
                    <div class="testimonial-meta">
                        <h4>John DOE <small><a href="#">.com</a></small></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="testimonial">
                    <img class="alignleft img-circle" src="{% static 'info/upload/xstudent_02.png.pagespeed.ic.y-PM-y4pVj.png' %}" alt="">
                    <p>Lorem Ipsum is simply dummy text of the most popular items.</p>
                    <div class="testimonial-meta">
                        <h4>Jenny Anderson <small><a href="#">photodune.com</a></small></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="testimonial">
                    <img class="alignleft img-circle" src="{% static 'info/upload/xstudent_03.png.pagespeed.ic.uCQY3WNMCJ.png' %}" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    <div class="testimonial-meta">
                        <h4>Mark BOBS <small><a href="#">tutsplus.com</a></small></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrapper text-center">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since<br> the 1500s, when an unknown printer took a galley of type
                and
                scrambled it to make a type specimen book. </p>
            <a href="#" class="btn btn-default border-radius"><i class="fa fa-sign-in"></i> Join Us Today</a>
            &nbsp;&nbsp;&nbsp;&nbsp; <a href="#" class="btn btn-primary"><i class="fa fa-download"></i> Download PDF</a>
        </div>
    </div>
</section>
<section class="grey section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h4>Our Clients</h4>
                    <p>What University's Love Work With Us and With Our Teachers</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img src="{% static 'info/upload/xclient_01.png.pagespeed.ic.m5NnlxSzhM.png' %}" alt=""
                     class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img src="{% static 'info/upload/xclient_02.png.pagespeed.ic.BsH9V4BqCi.png' %}" alt=""
                     class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img src="{% static 'info/upload/xclient_03.png.pagespeed.ic.mxzQrepbL_.png' %}" alt=""
                     class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img src="{% static 'info/upload/xclient_04.png.pagespeed.ic.Fx2ObIy0Eb.png' %}" alt=""
                     class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img src="{% static 'info/upload/xclient_05.png.pagespeed.ic.GBNy2ra72B.png' %}" alt=""
                     class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-2">
                <img src="{% static 'info/upload/xclient_06.png.pagespeed.ic.a_uqmnbFy0.png' %}" alt=""
                     class="img-responsive img-thumbnail">
            </div>
        </div>
    </div>
</section>
{% endblock main %}